<%- include("../partials/_nav")  %>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1>İstifadəçi məlumatları</h1>

        <div class="card mt-4">
           
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=user.url  %>" class="img-fluid " alt="Kullanıcı Fotoğrafı">
                    </div>
                    <div class="col-md-8">
                        <p class="card-title"> <b>Adı :</b>  <%= user.user_name %></p>
                        <p class="card-title"> <b>Soyadı :</b>  <%= user.user_surname %></p>
                        <p class="card-text"> <b>İstifadəçi adı :</b> <%= user.username %></p>
                        <p class="card-text"> <b>E-poçtu :</b> <%= user.email %></p>

                        <p class="card-text"> <b>Haqqında Azərbaycan dilində :</b><%= user.descriptionAz %></p>
                        <p class="card-text"> <b>Haqqında Alman dilində :</b> <%= user.descriptionGe %></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/_footer")  %>
