<%- include("partials/_header") %>
    <style>
        @-moz-document url-prefix() {
            select option {
                color: gray;
            }
        }

        /* Chrome, Safari */
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            select option {
                color: red;
            }
        }
    </style>

    <body>
        <!-- Topbar Start -->
        <%- include("partials/_topbar") %>

            <!-- Topbar End -->


            <!-- Navbar Start -->
            <%- include("partials/_navbar") %>

                <!-- Navbar End -->


                <!-- Search Start -->

                <!-- Search End -->



                <!-- Search Result Start -->

                <div class="container-fluid py-5">
                    <div class="container">
                      <% for (term of terms) { %>
                        <div class="card mt-3">
                            <div class="card-header">
                           
                            </div>
                            <div class="card-body">
                              <p class="card-text"> <b><%-term.termsDescGe  %></b></p>
                              
                            </div>
                          </div>
                      <% } %>
                    </div>
                  </div>

                  

                <!-- Search Result End -->

              
                <!-- Footer Start -->
                <%- include("partials/_footer") %>

                    
   <script>
    var isDarkMode = localStorage.getItem("darkMode") === "true";
    
    // Dark mode geçişini işleyen fonksiyon
    function toggleDarkMode() {
      var body = document.body;
    
      if (isDarkMode) {
        // Light mode ayarları
        body.classList.remove("dark-mode");
        isDarkMode = false;
        darkModeIcon.classList.remove('fa-sun')
        darkModeIcon.classList.add('fa-moon')  
    } else {
        // Dark mode ayarları
        body.classList.add("dark-mode");
        isDarkMode = true;
        darkModeIcon.classList.remove('fa-moon')
          darkModeIcon.classList.add('fa-sun')
      }
    
      // Dark mode tercihini yerel depolamada güncelle
      localStorage.setItem("darkMode", isDarkMode);
    }
    
    // Sayfa yüklendiğinde dark mode tercihine göre sayfayı güncelle
    window.addEventListener("load", function() {
      var body = document.body;
    
      if (isDarkMode) {
        body.classList.add("dark-mode");
        darkModeIcon.classList.remove('fa-moon')
          darkModeIcon.classList.add('fa-sun')
      }
    });
</script>