<%- include("partials/_header") %>
<%- include("partials/_topbar") %>
<%- include("partials/_navbar") %>

  
    
     <div class="container justify-content-center d-flex">



             
              <div class="col-4 text-center">
                <% if (typeof(error)!=="undefined" && error!==null) { %>
      
                  <div class="alert alert-danger mt-3" role="alert">
                    <%= error %>
                  </div>
                  <% } %>
            
                <% if (typeof(success)!=='undefined' && success!==null ) { %>
                      
                  <div class="alert alert-success mt-3" role="alert">
                    <%= success %>
                 </div>   
                <% } %>
                <form action="/users/forgot-password " method="POST">
                  <div class="form-group m-1 p-1  mt-5">
                    <input type="email" name="email" placeholder="Email" required="required"
                      class="form-control bg-light border-0">
                  </div>
                  <div class="form-control m-1 p-1">
                    <button type="submit" class="btn btn-primary w-100 py-3">
                      <%=resources.sendPassword%>
                    </button>
                  </div>
  
                </form>
              </div>
             
            </div>

    
            <script>
              var isDarkMode = localStorage.getItem("darkMode") === "true";
              
              // Dark mode geçişini işleyen fonksiyon
              function toggleDarkMode() {
                var body = document.body;
              
                if (isDarkMode) {
                  // Light mode ayarları
                  body.classList.remove("dark-mode");
                  isDarkMode = false;
                  darkModeIcon.classList.remove('fa-sun')
                  darkModeIcon.classList.add('fa-moon')  
              } else {
                  // Dark mode ayarları
                  body.classList.add("dark-mode");
                  isDarkMode = true;
                  darkModeIcon.classList.remove('fa-moon')
                    darkModeIcon.classList.add('fa-sun')
                }
              
                // Dark mode tercihini yerel depolamada güncelle
                localStorage.setItem("darkMode", isDarkMode);
              }
              
              // Sayfa yüklendiğinde dark mode tercihine göre sayfayı güncelle
              window.addEventListener("load", function() {
                var body = document.body;
              
                if (isDarkMode) {
                  body.classList.add("dark-mode");
                  darkModeIcon.classList.remove('fa-moon')
                    darkModeIcon.classList.add('fa-sun')
                }
              });
         </script>


  <%- include("partials/_footer") %>