<%- include("partials/_header") %>


  <body>
    <!-- Topbar Start -->
    <%- include("partials/_topbar") %>

      <!-- Topbar End -->


      <!-- Navbar Start -->
      <%- include("partials/_navbar") %>

        <!-- Navbar End -->


        <div class="container">
          <div class="mb-4 mt-5 d-flex justify-content-center">
            <h5 class="d-inline-block text-primary  border-bottom border-5">
              <%=resources.joinUs%>
            </h5>
            <h1 class="display-4"></h1>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card mb-3">
                <% if (typeof(lang) !=="undefined" ) { %>

                  <% if (lang=="az" ) { %>
                      <div class="card-body" style="text-align: center;">
                        <iframe src="/files/<%= joinUs.files[1].file_id %>" width="200" height="200"></iframe>

                        <h5 class="card-title">
                          <%= joinUs.files[1].file_id %>
                        </h5>
                        <a href="/files/<%= joinUs.files[1].file_id %>" class="btn btn-primary" download>
                          <i class="fas fa-download"></i>
                          <%= resources.download %>
                        </a>
                      </div>
                      <% } else { %>
                          <div class="card-body" style="text-align: center;">
                            <iframe src="/files/<%= joinUs.files[0].file_id %>" width="200" height="200"></iframe>

                            <h5 class="card-title">
                              <%= joinUs.files[0].file_id %>
                            </h5>
                            <a href="/files/<%= joinUs.files[0].file_id %>" class="btn btn-primary" download>
                              <i class="fas fa-download"></i>
                              <%= resources.download %>
                            </a>
                          </div>
                          <% } %>
                            <% } else{%>
                              <div class="card-body" style="text-align: center;">
                                <iframe src="/files/<%= joinUs.files[1].file_id %>" width="200" height="200"></iframe>
        
                                <h5 class="card-title">
                                  <%= joinUs.files[1].file_id %>
                                </h5>
                                <a href="/files/<%= joinUs.files[1].file_id %>" class="btn btn-primary" download>
                                  <i class="fas fa-download"></i>
                                  <%= resources.download %>
                                </a>
                              </div>
                          
                              <%}%>

              </div>
            </div>

          </div>
          <div class="card mt-4">
            <div class="card-body">
              <h3  class="card-title">
                <%-joinUs.description%> 
              </h3>
            </div>
          </div>
        </div>

        <!-- Footer Start -->
        <%- include("partials/_footer") %>

            
   <script>
 var isDarkMode = localStorage.getItem("darkMode") === "true";
        
        // Dark mode geçişini işleyen fonksiyon
        function toggleDarkMode() {
          var body = document.body;
        
          if (isDarkMode) {
            // Light mode ayarları
            body.classList.remove("dark-mode");
            isDarkMode = false;
            darkModeIcon.classList.remove('fa-sun')
            darkModeIcon.classList.add('fa-moon')  
            logoImage.src = '/img/damv.png';
        } else {
            // Dark mode ayarları
            body.classList.add("dark-mode");
            isDarkMode = true;
            darkModeIcon.classList.remove('fa-moon')
              darkModeIcon.classList.add('fa-sun')
              logoImage.src = '/img/damv2.png';
          }
        
          // Dark mode tercihini yerel depolamada güncelle
          localStorage.setItem("darkMode", isDarkMode);
        }
        

        
        // Sayfa yüklendiğinde dark mode tercihine göre sayfayı güncelle
        window.addEventListener("load", function() {
          var body = document.body;
        
          if (isDarkMode) {
            body.classList.add("dark-mode");
            darkModeIcon.classList.remove('fa-moon')
              darkModeIcon.classList.add('fa-sun')
              logoImage.src = '/img/damv2.png';
          }
        });
</script>