<%- include("partials/_header")  %>


<body>
    <!-- Topbar Start -->
    <%- include("partials/_topbar")  %>

    <!-- Topbar End -->


    <!-- Navbar Start -->
    <%- include("partials/_navbar")  %>

    <!-- Navbar End -->


    <!-- Search Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"><%=resources.reyaset%></h5>
            </div>
        </div>
    </div>
    <!-- Search End -->


    <!-- Search Result Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <% for(pres of president) { %>  
                  <div class="col-lg-12 d-flex ">
                    <div class="offset-lg-3 col-lg-6 team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-5 h-100">
                                <img class="img-fluid h-100" src="<%=pres.url%>" >
                            </div>
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                <div class="mt-auto p-4">
                                    <h6 class="fw-normal fst-italic text-primary mb-4"><%=resources.president%></h6>
                                    <h3><%=pres.user_name%>  <%=pres.user_surname%></h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4"><%=pres.description%></h6>
                                  
                                </div>
                                <div class="d-flex mt-auto border-top p-4">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="<%=pres.fb%>" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="<%=pres.inst%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>  
                <% } %>

                <% for(user of users) { %>    
                <div class="col-lg-6 team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="<%=user.url%>" >
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3><%=user.user_name%>  <%=user.user_surname%></h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4"><%-user.description%></h6>
                                
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="<%=user.fb%>" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="<%=user.inst%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
              
                
            </div>
        </div>
    </div>
    <!-- Search Result End -->

<style>
    @media (max-width: 576px) {
  /* Küçük ekranlar için stil kuralları burada tanımlanır */
  .team-item .col-12.col-sm-5 img,
.team-item .col-12.col-sm-5 picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}
}
</style>
    <!-- Footer Start -->
    <%- include("partials/_footer")  %>
