<%- include("../partials/_nav") %>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1>
            Layihə məlumatları
        </h1>

        <div class="card mt-4">
           
            <div class="card-body d-flex">
                <div class="row">

                    <div class="col-md-4">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/<%=project.videoUrl %>">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 " style="margin-left: 150px;">
                    <p class="card-title"><b>Başlıq Azərbaycan dilində : </b> <%= project.titleAz %>
                    </p>
                    <p class="card-text"><b>Başlıq Alman dilində : </b><%= project.titleGe %>
                    </p>
                    <p class="card-text"><b>Açıqlama Alman dilində : </b><%= project.descriptionAz %>
                    </p>
                    <p class="card-text"><b>Açıqlama Alman dilində : </b><%= project.descriptionGe %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include("../partials/_footer") %>